.super-mario {
    width: 150px;
    position: absolute;
  }
  
  .goomba {
    width: 90px;
    top: 310px;
    left: 30px;
    position: absolute;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
    z-index: 1;
    width: 200px;
  }
  
  .speach {
    font-size: 18px;
    position: absolute;
    left: 210px;
    z-index: 2;
    top: 100px;
  }
  
  .bowser {
    width: 300px;
    left: 370px;
    top: 160px;
    position: absolute;
  }
  